<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Answers</h1>
  <% ans.forEach(answer => { %>
    <p><%= answer.answer %></p>
  <% }) %>
  <a href="/submit">New Round</a>
</body>
</html>