<% include ./partials/header %>
  <div class="alert alert-dismissible alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Well done!</strong> Now hang tight until everyone else submits their answers.
    </div>
  <a href="/answers" class="btn btn-info" style="cursor: pointer;">Go to Answers</a>
<% include ./partials/footer %>